<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hi.mapper.UserMapper">
    <select id="loadTables" resultType="java.lang.String">
        show tables like 'user%'
    </select>

    <update id="createTable" parameterType="java.lang.String">
        CREATE TABLE ${table_name}
        (
            `id`         bigint NOT NULL AUTO_INCREMENT,
            `name`       varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT '姓名',
            `created_at` datetime                                              DEFAULT NULL,
            PRIMARY KEY (`id`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin ROW_FORMAT=DYNAMIC;
    </update>
</mapper>
